<div class="container">
    <div class="card mb-3">
        <h3 class="card-header">Strahinja Labus</h3>
        <div class="card-body">
          <h5 class="card-title">web developer</h5>
          <h6 class="card-subtitle text-muted">Serbia</h6>
          <a href="#" class="card-link">email: strahinja.labus@gmail.com</a><br>
          <a href="#" class="card-link">{{ phone }}</a>
        </div>
        <div class="card-footer text-muted">
          <i class="fa fa-github" aria-hidden="true"></i> strale.bandzi
        </div>
      </div>
<br>
<app-child (numberChange)= 'display($event)'></app-child>
</div>
